{{> navbar }}

<div class="container-fluid">
    <div class="container">
        <h3 class="text-center">{{item.name}}</h3>
        <hr>
        <p>Item ID: {{item.item_id}}</p>
        <p>Listed Price: ${{item.price}}</p>
        <p>Average Price: ${{avgPrice}}</p>
        <p>Minimum Price: ${{minPrice}}</p>
        <p>Maximum Price: ${{maxPrice}}</p>
        <br/>
        <p>Last 20 transactions involving this item:</p>
        <table class="table table-bordered table-condensed">
            <tr>
                <th>Client ID</th>
                <th>Employee ID</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Order type</th>
            </tr>
            {{#transactions}}
                <tr>
                    <td><a href="/clients/client?id={{client_id}}">{{client_id}}</a></td>
                    <td><a href="/employees/employee?id={{employee_id}}">{{employee_id}}</a></td>
                    <td>{{date}}</td>
                    <td>{{quantity}}</td>
                    <td>{{price}}</td>
                    <td>{{order_type}}</td>
                </tr>
            {{/transactions}}

        </table>
        <br/>
        <p>Query Used: {{avgPriceQuery}}</p>
        <p>Query Used: {{minPriceQuery}}</p>
        <p>Query Used: {{maxPriceQuery}}</p>
        <p>Query Used: {{tQuery}}</p>
    </div>
</div>



{{>footer}}